<!doctype html>
<html lang="en">


<head>
    <%-include('./partials/head') %>
</head>

<body class="home_banner_area">
    <header class="header_area bg-white">
        <div class="container">
            <nav class=" navbar navbar-expand-lg navbar-light ">
                <a class="navbar-brand logo_h " href="index.html"><img src="/img/logo3.png" class="mt-4"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                    <ul class="nav navbar-nav menu_nav">
                        <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                            <li class="nav-item"><a class="nav-link" href="/index">Trang chủ</a></li>
                            <li class="nav-item submenu dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Thao tác</a>
                                <ul class="dropdown-menu">
                                    <% if(data.role === 'admin') { %>
                                        <%- include('./partials/action_nav_admin'); %>
                                    <% } else { %>
                                        <%- include('./partials/action_nav_user'); %>
                                    <% } %>
                                </ul>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="/user/contact-user">Liên hệ</a></li>
                            <li class="nav-item submenu dropdown d-lg-none">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Thông tin</a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item"><a class="nav-link" href="/user/information/<%= token%>">Thông tin cá nhân</a></li>
                                    <li class="nav-item"><a class="nav-link" href="/user/change-pass">Đối mật khẩu</a></li>
                                    <li class="nav-item"><a class="nav-link" href="/user/add-id-card">Bổ sung CMND</a>
                                    </li>
                                    <li class="nav-item"><a class="nav-link" href="/">Đăng xuất</a></li>
                                </ul>
                            </li>
                        </div>
                    </ul>
                </div>
                <div class="right-button">
                    <ul>
                        <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                            <li class="nav-item dropdown ml-auto">
                                <a class="nav-link dropdown-toggle text" href="#" id="navbardrop" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <%= data.fullName %>
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item text" href="/user/information/<%= token%>">
                                        <i class="bi bi-person mr-3"></i>
                                        <span class=""> Thông tin cá nhân</span>
                                    </a>
                                    <a class="dropdown-item text" href="/user/change-pass">
                                        <i class="bi bi-gear mr-3"></i>
                                        <span class=""> Đổi mật khẩu</span>
                                    </a>
                                    <a class="dropdown-item text" href="/user/add-id-card">
                                        <i class="bi bi-person-square mr-3"></i>
                                        <span class=""> Bổ sung CMND</span>
                                    </a>
                                    <a class="dropdown-item text" href="/">
                                        <i class="bi bi-box-arrow-left mr-3"></i>
                                        <span class=""> Đăng Xuất</span>
                                    </a>
                                </div>
                            </li>
                        </div>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <% if(data.role === 'admin') { %>
        <%- include('./partials/action_admin'); %>
    <% } else { %>
        <%- include('./partials/action_user'); %>
    <% } %>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>