<div class="container h-100 d-flex justify-content-center align-items-center">
    <div class="logined-color">
        <form>
            <div class="row ">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 m-auto ">
                    <div class="mb-5 mt-5 mr-5 ml-5 operator-logined">
                        <div class="row form-group form-inline p-0">
                            <div role="button" class="col-12 col-xl-3 col-md-6 col-lg-4 col-sm-12 text-center">
                                <div class="app-background app justify-content-center align-items-center mt-5">
                                    <a href="/admin/user-list/<%= token%>/waiting">
                                        <img src="/img/5.png" alt="" class="w-50 m-auto justify-content-center align-items-center">
                                        <div>
                                            <p class="align-items-center mt-3 text-menu"> Danh Sách Người Dùng Chờ Kích Hoạt </p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div role="button" class="col-12 col-xl-3 col-md-6 col-lg-4 col-sm-12 text-center">
                                <div class="app-background app justify-content-center align-items-center mt-5">
                                    <a href="/admin/user-list/<%= token%>/verified">
                                        <img src="/img/4.png" alt="" class="w-50 m-auto justify-content-center align-items-center">
                                        <div>
                                            <p class="align-items-center mt-3 text-menu"> Danh Sách Người Dùng Đã Kích Hoạt</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div role="button" class="col-12 col-xl-3 col-md-6 col-lg-4 col-sm-12 text-center">
                                <div class="app-background app justify-content-center align-items-center mt-5">
                                    <a href="/admin/user-list/<%= token%>/soft-disabled">
                                        <img src="/img/3.png" alt="" class="w-50 m-auto justify-content-center align-items-center">
                                        <div>
                                            <p class="align-items-center mt-3 text-menu"> Danh Sách Người Dùng Bị Vô Hiệu Hóa </p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div role="button" class="col-12 col-xl-3 col-md-6 col-lg-4 col-sm-12 text-center">
                                <div class="app-background app justify-content-center align-items-center mt-5">
                                    <a href="/admin/user-list/<%= token%>/disabled">
                                        <img src="/img/2.png" alt="" class="w-50 m-auto justify-content-center align-items-center">
                                        <div>
                                            <p class="align-items-center mt-3 text-menu"> Danh Sách Người Dùng Bị Khóa</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div role="button" class="col-12 col-xl-3 col-md-6 col-lg-4 col-sm-12 text-center">
                                <div class="app-background app mt-5">
                                    <a href="/user/trade/<%= token%>">
                                        <img src="/img/9.png" alt="" class="w-50 m-auto align-items-center">
                                        <div>
                                            <p class="align-items-center mt-3 text-menu"> Danh sách giao dịch </p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>