<li class="nav-item"><a class="nav-link" href="/user/deposit/<%= token%>">Nạp tiền</a></li>
<li class="nav-item"><a class="nav-link" href="/user/transfer/<%= token%>">Chuyển tiền</a></li>
<li class="nav-item"><a class="nav-link" href="/user/drawback/<%= token%>">Rút tiền</a></li>
<li class="nav-item"><a class="nav-link" href="/user/mobile-card/<%= token%>">Mua thẻ điện thoại</a></li>
<li class="nav-item"><a class="nav-link" href="/user/trade/<%= token%>">Lịch sử giao dịch</a></li>